$light-Cyan: hsl(193, 38%, 86%);
$neon-green: rgb(82, 255, 168);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  @include reset;
}

body {
  @include flex;

  font-family: 'Manrope', sans-serif;

  background-color: $dark-blue;

  height: 100vh;
  padding-inline: 20px;
}
