@use 'global';

.container {
  @include global.flex;
  flex-direction: column;
  row-gap: 28px;

  max-width: 580px;
  width: 100%;
  height: max-content;

  background-color: global.$dark-grayish-blue;
  border-radius: 10px;

  padding: 30px 20px 58px;

  word-wrap: break-word;

  text-align: center;

  position: relative;

  .advice-id {
    font-size: 12px;
    letter-spacing: 3px;
    color: global.$neon-green;
  }

  .advice-content {
    font-size: 28px;
    font-weight: 800;
    color: global.$light-Cyan;
    width: 100%;
  }

  .dice-button {
    @include global.flex;

    width: 64px;
    height: 64px;

    background-color: global.$neon-green;
    border-radius: 100%;

    position: absolute;
    bottom: -30px;

    cursor: pointer;

    border: none;

    &:hover {
      box-shadow: 2px 0px 30px 3px rgb(82, 255, 168);
      -webkit-box-shadow: 2px 0px 30px 3px rgb(82, 255, 168);
      -moz-box-shadow: 2px 0px 30px 3px rgb(82, 255, 168);
    }
  }
}

.footer-content {
  position: absolute;
  bottom: 0;

  margin-bottom: 20px;

  span {
    color: global.$light-Cyan;
  }

  a {
    color: global.$neon-green;
    text-decoration: none;
  }
}
